{% load static %}
{% load i18n %}
<div class="user-profile">
    {% if user.is_authenticated %}
        {% if user.profile.image %}
            <img src="{{ user.profile.image.url }}" alt="{% trans 'No Picture' %}" class="profile-pic"
                 onclick="toggleMenu()">
        {% else %}
            <img src="{% static 'images/icons/person.png' %}" alt="{% trans 'No Picture' %}" class="profile-pic"
                 onclick="toggleMenu()">
        {% endif %}
        <div class="dropdown-menu" id="dropdownMenu">
            {% if user.first_name and user.last_name %}
                <span>{{ user.first_name }} {{ user.last_name }}</span>
            {% else %}
                <span>{{ user.username }}</span>
            {% endif %}
            <hr>
            <a href="{% url 'account:edit' %}">{% trans 'Edit Account' %}</a>
            <a href="{% url 'account:logout' %}">{% trans 'Log out' %}</a>
        </div>
    {% else %}
        <img src="{% static 'images/icons/person.png' %}" alt="{% trans 'No Picture' %}" class="profile-pic"
             onclick="toggleMenu()">
        <div class="dropdown-menu" id="dropdownMenu">
            <a href="{% url 'account:login' %}">{% trans 'Log in' %}</a>
            <a href="{% url 'account:register' %}">{% trans 'Register' %}</a>
        </div>
    {% endif %}
</div>