{% extends "base.html" %}

{% load i18n %}

{% load jalali_filters %}

{% block title %}
    {% trans 'All articles' %}
{% endblock %}


{% block content %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h4>{% trans 'All articles' %}</h4>
                            <h2>{% trans 'Our Recent Blog Entries' %}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="blog-posts grid-system">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">

                    <div class="all-blog-posts">

                        <div class="row">
                            {% for article in article_list %}
                                <div class="col-lg-6">
                                    <div class="blog-post">
                                        <div class="blog-thumb">
                                            <img src="{{ article.image.url }}" alt="{{ article.title }}">
                                        </div>
                                        <div class="down-content">
                                            {% for category in article.categories.all %}
                                                {% if forloop.last %}
                                                    <span>{{ category }}</span>
                                                {% else %}
                                                    <span>{{ category }},</span>
                                                {% endif %}
                                            {% endfor %}
                                            <a href="{% url 'blog:article_detail' article.slug %}">
                                                <h4>{{ article.title }}</h4></a>
                                            <ul class="post-info">
                                                <li><a href="#">{{ article.author.get_full_name }}</a></li>
                                                <li><a href="#">{{ article.created|to_jalali }}</a></li>
                                                <li>
                                                    <a href="#">{{ article.comments.all.count }} {% trans 'Comment' %}</a>
                                                </li>
                                            </ul>
                                            <p>{{ article.body|truncatechars:80 }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-lg-12">
                            {% if page_obj.has_other_pages %}
                                <ul class="page-numbers">
                                    {% if page_obj.has_previous %}
                                        <li><a
                                                href="?page=

                                                        {{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i
                                                class="fa fa-angle-double-left"></i></a></li>
                                    {% endif %}
                                    {% for i in page_obj.paginator.page_range %}
                                        {% if page_obj.number == i %}
                                            <li class="active"><a href="?page=

                                                    {{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a>
                                            </li>
                                        {% else %}
                                            <li><a href="?page=

                                                    {{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li><a
                                                href="?page=

                                                        {{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i
                                                class="fa fa-angle-double-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% include "includes/sidebar.html" %}
            </div>
        </div>
    </section>
{% endblock %}