{% extends "account/base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Edit Info' %}{% endblock %}

{% block content %}

    <div class="limiter">
        <div class="container-login100" style="background-image: url('{% static "images/bg-01.jpg" %}');">
            <div class="wrap-login100">
                <form class="login100-form validate-form" method="post">
                    {% csrf_token %}
                    <span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

                    <span class="login100-form-title p-b-34 p-t-27">
						{% trans 'Edit Account' %}
					</span>
                    <div class="wrap-input100 validate-input" data-validate="Enter firstname">
                        {{ form.first_name }}
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter lastname">
                        {{ form.last_name }}
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter email">
                        {{ form.email }}
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            {% trans 'Submit' %}
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

{% endblock %}

