{% load static %}

{% load i18n %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}" dir="{% if request.LANGUAGE_CODE == 'fa' %}rtl{% else %}ltr{% endif %}">

<!-- Head -->
<head>
    <title>{% block title %}{% endblock %}</title>
    {% include "includes/header_references.html" %}
</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- Header -->
{% include "includes/header.html" %}

<!-- Page Content -->
<main>
    {% block content %}

    {% endblock %}
</main>


<!-- footer -->
{% include "includes/footer.html" %}
<!-- Script Tags -->
{% include "includes/footer_references.html" %}
</body>
</html>